/* ===============================
Адміністрування
 =============================== */

#content {
  overflow-y: auto;
}

.admin, .admin-homework {
  flex-direction: column;
}

/* =========================== */
/* Скролл */
#content::-webkit-scrollbar {
  width: 4px;
}

#content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #3186e8;
  border-radius: 10px;
}

#content::-webkit-scrollbar-thumb {
  background-color: #0f5ab1;
  border-radius: 10px;
}

.admin-title {
  text-align: center;
  color: #231b80;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0px 25px 0px;
}

form {
  text-align: center;
}

.admin input,
.admin-homework input,
select {
  width: 25%;
  margin: 0 auto 25px;
  padding: 8px 10px;
  border: 1px solid #3186e8;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #231b80;
  transition: 1s;
  font-family: initial;
}

input::placeholder,
option:first-child {
  transition: 0.5s;
  color: #3186e867;
}

button {
  padding: 7px 25px;
  border-radius: 5px;
  border: 1px solid #231b80;
  background: #3186e867;
  transition: 0.5s;
  text-transform: uppercase;
}

button:hover {
  background: #3186e8;
  color: #fff;
}

button:active {
  transition: none;
  background: #231b80;
}

.admin th,
.admin td {
  padding: 15px 70px;
}