/* html{
	height: inherit;
} */
body {
  background: -moz-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(42, 123, 214, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(42, 123, 214, 1) 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(42, 123, 214, 1) 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(42, 123, 214, 1) 100%
  ); /* ie10+ */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(42, 123, 214, 1) 100%
  ); /* w3c */
}
.modal {
  width: 400px;
  min-height: 330px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #231b80;
  left: calc(50% - 200px);
  display: none;
  z-index: 2;
  margin: 0px 0px 30px 0px;
  margin: 25px auto;
}

/* =========================== */
/* Модальное окно для входа */
#log-in-modal {
  min-height: 260px;
  margin-top: 150px;
}
#sign-up-modal {
  min-height: 340px;
  top: 120px;
}

#log-in-form,
#sign-up-form {
  margin-top: 20px;
  height: calc(100% - 40px);
}

#sign-up-modal > p,
#log-in-modal > p {
  color: #231b80;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
#log-in-form,
#sign-up-form {
  margin-top: 20px;
  height: calc(100% - 40px);
}

#log-in-form,
#sign-up-form {
  margin-top: 20px;
}

#log-in-form label,
#sign-up-form label {
  display: inline-block;
  font-size: 15px;
  color: #231b80;
  font-weight: bold;
  margin: 0px 0px 7px 0px;
}

#log-in-form input,
#sign-up-form input,
select {
  display: block;
  width: 100%;
  margin: 0 auto 25px;
  padding: 8px 10px;
  border: 1px solid #3186e8;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #231b80;
  transition: 1s;
  font-family: initial;
}
select option:nth-child(n + 1) {
  color: #231b80;
}

#log-in-form input::placeholder,
#sign-up-form input::placeholder,
#sign-up-form option:first-child {
  transition: 0.5s;
  color: #3186e867;
}

#log-in-form input:focus,
#sign-up-form input:focus,
select:focus {
  -webkit-box-shadow: 0px 0px 10px -2px #3186e8;
  -moz-box-shadow: 0px 0px 10px -2px #3186e8;
  box-shadow: 0px 0px 10px -2px #3186e8;
}

#log-in-form input:focus::placeholder,
#sign-up-form input:focus::placeholder {
  color: transparent;
}

.modal button {
  padding: 7px 25px;
  border-radius: 5px;
  border: 1px solid #231b80;
  background: #3186e867;
  float: right;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.modal button:hover {
  background: #3186e8;
  color: #fff;
}

.modal button:active {
  transition: none;
  background: #231b80;
}

#log-in-form a,
#sign-up-form a {
  color: #3186e8;
  font-size: 15px;
  line-height: 35px;
  transition: 0.5s;
}

#log-in-form a:hover,
#sign-up-form a:hover {
  color: #231b80;
}

#sign-up-form p {
  display: none;
  margin-bottom: 12px;
  padding: 10px 10px;
  border: 1px solid #231b80;
  border-radius: 5px;
  font-size: 16px;
  color: #231b80;
  background: #3186e867;
  transition: 1s;
}
/* Модальное окно для входа */
/* =========================== */
