/* ===============================
Общие стили
=============================== */

/*Обнуление ко всем элементам*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* Подсчет ширины блока */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Убираем линии обводки в браузерах */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* Делаем эллементы блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* Уравнивание шрифтов и эллементов в разных браузерах. Например увеличение шрифта на айфоне */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Наследовть семейство шрифта. По умолчанию они этого не делают */
input,
button,
textarea {
  font-family: inherit;
}
textarea {
  resize: none;
}
/* Особенности в разных браузерах. Крестик в инпутах. Отступы конопок. И обнуление списков */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* Сбрасываем стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*Обнуление ко всем элементам*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}
/* ============================================================================= */

.header,
footer {
  width: 100%;
  height: 70px;
  background: #2a7bd6;
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.header a,
footer a {
  display: inline-block;
  color: #fff;
  line-height: 70px;
  padding: 0px 15px;
  transition: 0.5s;
}
.header #logo,
footer #logo {
  color: #fff;
  font-size: 36px;
  line-height: 70px;
}
.header img,
footer img {
  height: 70px;
}
.header .menu,
footer .menu {
  line-height: 70px;
  font-size: 16px;
  margin: 0px 20px 0px 0px;
}

.menu a:hover{
  background: #1d64b4;
}

/* ============================================================================= */
/* Стили для заголовка над таблицами */

.admin, .flex {
  flex-direction: column;
}

.admin-title {
  text-align: center;
  color: #231b80;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0px 25px 0px;
}